*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'IBM Plex Serif', serif;
font-family: 'Playfair Display', serif;
}
@font-face{
    font-family: myfont;
    src: url(Minal.otf);
}
nav{
    position: fixed;
    width: 100%;
    z-index: 44;
}

.lo{
 font-family: myfont;
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fafafa;
    cursor: pointer;
   text-align: center;
    justify-content: center;
  font-size: 30px;
    
    
}
#searc{
    font-size: 20px;
 
  margin: -40px 0px 0px 00px;
  
  display: flex;

  
}
#searc:first-child{
margin-left: 80%;
gap: 30px;
}


nav .qwer {
    color: #fafafa;
    display: flex;
    justify-content: left;
    text-align: left;
    text-decoration: none;
    background-color:#333333 ;
    gap:50px ;
    padding-left: 50px;
    list-style: none;
    padding-bottom: 20px;

}
nav ul a {
    text-decoration: none;
    color: #fafafa;
}
.cart{
    
  margin-left: 50%;
    text-align: right;
    justify-content: right;
}
    .new{
        position: absolute;
        top: 100px;;
        width: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        
    }

    .new .cont1{
        background: #fafafa;
        display: flex;

        padding: 25px 20px;
        width: 1;
    }
    .new .cont1 ul{
        background: #fafafa;
        display: flex;
        flex-direction: column;

        gap: 12px;       


    }
    .new .cont1 ul li a{
        color: #333636;
       
        padding-bottom: 10px;

    }
    .new li:hover  ul .pro{
    
        opacity: 1;
        visibility: visible;
        transition: all 0.4 ease;

    }


video {
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -10;
    background-color: rgba(26, 24, 24, 0.8);
}

#main{
    position: relative;

}
.pae1
{text-transform: uppercase;
    font-family: myfont;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 10;
}
.pae1 h1{
    color: #ebebeb;
    font-family: myfont;
    font-size: 75px;
}
.pae1 p{
    color: #ebebeb;
    font-weight: 700;
    font-size: x-large;
}

.exp{
    border: 2px solid rgb(77, 85, 85);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: rgb(206, 236, 236);
    transition: 0.7s;
    position: relative;
    overflow: hidden;
    font-family: myfont;
    
        }
    .exp:hover{
     color:rgb(46, 42, 42) ;
    }
    .exp::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
      
        z-index: -1;
        transition: 0.8s;
       
    }
    .exp:hover::before{
        height: 180%;
        color: #333636;
    }
.pae2{
    background-color: #fafafa;
    object-fit: contain;
    z-index: -2;
    color: #333636;
    
    
}

    

.pae2 h3{
    font-family: myfont;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
} 
.pae2 .pop {
    padding: 0 10px 30px 10px;

display: flex;
flex-direction: row;

z-index: -1;





}
.pop img{
    padding: 30px 0 30px 30px;
    width: 30%;
    height: 10%;
    z-index: 0;
} 
.pop .pic1{
    z-index: 0;
    
}
.pae2 p{
    padding: 20px 0px 0px 10px ;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #333636;
    font-size: larger;
    z-index: 3;
}
.pae3{
background-color: #fafafa;  
  text-align: center;
}
.pae3 h3{
    font-family: myfont;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
}
.pae3 .proc {
    display: flex;
justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 10px;
    

} 
.pae3 .pro{
    background-color: #ebebeb;
    border-radius: 20px;
    width: 23%;
    box-shadow: 20px 20px 30px rgba(2,0 , 0, 0.02); 
    min-width: 250px;
    padding: 10px 10px;
    border: 1px sloid #9e3939;
}
.pae3 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0 , 0, 0.05); 
}
    .pae3 .pro img{

        width: 100%;
        border-radius: 20px;

}
footer{
    color: #fafafa;
    background-color: #333636;
    padding: 0 30px;
}
footer .links{
    border-bottom: 2px solid #fafafa;
    padding-bottom: 20px;
}
footer .l{
    
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: myfont;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer .first{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:30px ;
}
footer .sec{
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:50px ;
}
footer .botton{
    padding: 20px 0;
    justify-content: space-between;
}
.leal{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 30px;
}
