*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #121838;
  --secondary-color: #f46c38;
  --accent-color: #cdfb47;
  --white: #ffffff;
  --dim-white: #f6f6f4;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
}

body {
  background-color: var(--dim-white);
}

.topbar {
  background-color: var(--white);
}

header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: #020202;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  display: flex;
  padding: 4rem 0;
  justify-content: space-between;

  .hero-copy {
    width: 40ch;
    color: var(--primary-color);

    h1 {
      font-size: 8.5rem;
      font-weight: 800;
      line-height: 90%;
    }

    p {
      margin-top: 0.8rem;
      text-transform: uppercase;
    }
  }

  .hero-ctas {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }

  .hero-image {
    position: relative;
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 2.5rem;

    .decorations {
      position: absolute;
      left: 2rem;
      right: 2rem;

      .subtract {
        width: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .dumbell-icon {
          img {
            border-radius: 100%;
            background-color: var(--accent-color);
            width: 80px;
            height: 80px;
            padding: 20px;
          }
        }

        .fitness {
          padding: 1rem 0 0 0;
          p {
            color: var(--accent-color);
            text-transform: uppercase;
          }
        }
      }
    }

    .image-container {
      position: relative;
      max-width: 100%;
      height: auto;

      img {
        position: absolute;
        overflow: hidden;
      }
    }
  }

  .review {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 0.8rem;
    background-color: var(--accent-color);
    padding: 1.2rem;
    height: fit-content;

    .avatars {
      display: flex;

      .avatar {
        margin-right: -1rem;
      }

      .circle {
        width: 56px;
        height: 56px;
      }

      .play-button {
        background-color: var(--primary-color);
        display: grid;
        place-content: center;
        border-radius: 100%;
      }
    }

    .text p {
      font-size: 28px;
      font-weight: 600;
      line-height: 110%;
    }
  }
}

section.stats {
  margin-block: 3rem;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  padding: 2.5rem 5rem;
  border-radius: 24px;

  .stat {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .number {
      font-size: 2.5rem;
      font-weight: bold;
    }

    .info {
      opacity: 70%;
    }
  }
}

.btn {
  background: none;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 0.25rem;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--white);
  border-radius: 0.25rem;
}

.btn-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  img {
    height: 32px;
    width: 32px;
  }
}
