.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #000122;
  color: white;
  border: 2px solid #000122;
  padding: 0.5rem 1rem;
  margin-right: 40px;
}

.login-button:hover {
  background-color: white;
  color: #000122;
}
